{% extends 'layouts/base_con_login.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Informacion de Contacto</h5>
            <hr>
            {% if perms.gbweb.add_estudiante %} 
                <p>Nombre: {{lider.lider.first_name}}</p>
                <p>Apellido: {{lider.lider.last_name}}</p>
                <p>Email: {{lider.lider.email}}</p>
            {% else %}
                <p>Nombre: {{estudiantes.estudiante.first_name}}</p>
                <p>Apellido: {{estudiantes.estudiante.last_name}}</p>
                <p>Email: {{estudiantes.estudiante.email}}</p>
            {% endif %} 
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Grupos Totales</h5>
            <hr>
            <h1 style="text-align: center; padding: 10px;">{{grupos_total}}</h1>
        </div>
    </div>

</div>

<br>



<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>nombre</th>
                    <th>tipo</th>
                    <th>tema</th>
                    <th>descripcion</th>
                </tr>
                {% for grupo in grupos %}
                <tr>
                    <td><a class="btn btn-sm btn-info" href="{% url 'ver_estudiantes' grupo.id %}">Ver estudiantes</a></td>
                    <td>{{grupo.nombre}}</td>
                    <td>{{grupo.tipo}}</td>
                    <td>{{grupo.tema}}</td>
                    <td>{{grupo.descripcion}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}