{% extends 'gbweb/base.html' %}

{% block title %}Group Boards{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <section class="boards">
    {% if not simulated_users.joined %}

        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">No tienes grupos!</p>
                </div>
            </div>
        </div>
  {% endif %}
  </section>
{% endblock %}