{% extends 'layouts/base_con_login.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md-5">
        <h5>Students</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn block" href="">Create Student</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Student</th>
                    <th>email</th>
                </tr>
                {% for usuario in usuarios %}
                <tr>
                    <td><a class="btn btn-sm btn-info" href="">view</a></td>
                    <td>{{usuario.estudiante.username}}</td>
                    <td>{{usuario.estudiante.email}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>Groups</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Group</th>
                    <th>Type</th>
                    <th>Theme</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for grupo in grupos %}
                <tr>
                    <td>{{grupo.nombre}}</td>
                    <td>{{grupo.tipo}}</td>
                    <td>{{grupo.tema}}</td>
                    <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="">Delete</a></td> 
                </tr>
                
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<br>

{% endblock %}