{% extends 'layouts/base_con_login.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md-5">
        <h5>Students</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn block" href="">Create Student</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Student</th>
                    <th>ID</th>
                    <th>email</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td><a class="btn btn-sm btn-info" href="">view</a></td>
                    <td>{{student.persona.nombre}}</td>
                    <td>{{student.persona.dni}}</td>
                    <td>{{student.persona.email}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>Groups</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Group</th>
                    <th>Type</th>
                    <th>Theme</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for group in groups %}
                <tr>
                    <td>{{group.groupname}}</td>
                    <td>{{group.grouptype}}</td>
                    <td>{{group.grouptheme}}</td>
                    <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="">Delete</a></td> 
                </tr>
                
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<br>

{% endblock %}