{% extends 'layouts/base_con_login.html' %}

{% load static %}
{% block header %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_form.css' %}">
{% endblock %}
{% endblock header %}

{% block content %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">CREATE TASK</h3>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">Title</span>
                        </div>
                        {{form.titulo}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text">Description</span>
                        </div>
                        {{form.descripcion}}
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text">Group</span>
                        </div>
                        {{form.grupo}}
                    </div>
                       <div class="d-flex justify-content-center mt-3 login_container">
                         <input class="btn btn-primary" type="submit" value="Create task">
                       </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}