{% extends 'layouts/base_con_login.html' %}

{% block content %}


<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h1>Tareas de {{grupos.nombre}}</h1>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    {% comment %} <th></th> {% endcomment %}
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Terminado</th>
                </tr>
                {% for tarea in tareas %}
                    <tr>
                        {% comment %} <td><a class="btn btn-sm btn-info" href="#">view</a> {% endcomment %}
                        <td>{{tarea.titulo}}</td>
                        <td>{{tarea.descripcion}}</td>
                        <td>{{tarea.terminado}}</td>

                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>

{% endblock %}
